<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>PRODUCT CODE IS <br><%= code %></h1>

    
    <a href = "/">HOME PAGE</a>

  </body>
  <script>var name = "<%= code %>";
  console.log("hellelellellelelel"+name);</script>
</html>
