<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/add_new.css">
  </head>

  <body>
    <h1>PRODUCT CODE IS</h1> <h1 style = "color: red;"><%= code %></h1>

    
    <a class = "button"href = "/">HOME PAGE</a>

  </body>
  <script>var name = "<%= code %>";
  console.log("hellelellellelelel"+name);</script>
</html>
