<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <link rel="stylesheet" href="/add_new.css">
    <style>
      div.c {
        position: static;
        right: 45%;
        width: 350px;
        height: 120px;
        border: 3px solid green;
      } 
    </style>
  </head>

  <body>
    <h1>EDIT ENTRY</h1>
 

    
    <br>

    <% foods.forEach(function (food) { %>
     
        

      Product code: <%= food.product_code %> <br><br>
        


    <form method="POST" action="/edit">
      <label>Current food_item: <%= food.food_item %></label><br>
      <label></label>
     
      <input type="text" name="food_type" placeholder = "Enter New Food Type"/><br>
      Current Location From: <%= food.location_from %><br>
      <label></label>
      <input type="text" name="location_from" placeholder="Enter new Location From"/><br>
      Current Mass: <%= food.mass %><br>
      <label></label>
      <input type="text" name="mass" placeholder="Enter new Mass" /><br>
      
      <input type="submit" />
    </form>
    <% }) %>
    <a class = "home" href = "/index">HOME PAGE</a>

  </body>

  <script>


  </script>
</html>
