<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      div.c {
        position: absolute;
        right: 45%;
        width: 350px;
        height: 120px;
        border: 3px solid green;
      } 
    </style>
  </head>

  <body>
    <h1>EDIT ENTRY</h1>
   

    <div class = "c">
    <% foods.forEach(function (food) { %>
     
        

        Product code: <%= food.product_code %> <br>
      Mass: <%= food.mass %><br>
      food_item: <%= food.food_item %><br>
        location_from: <%= food.location_from %><br>
        
        <% }) %>
    </div>




    <form method="POST" action="/edit">
      <label>Enter Your FOOD_TYPE</label>
      <input type="text" name="food_type" /><br>
      <label>Enter Your LOCATION_FROM</label>
      <input type="text" name="location_from" /><br>
      <label>Enter MASS</label>
      <input type="text" name="mass" /><br>
      <input type="submit" />
    </form>
    

  </body>

  <script>


  </script>
</html>
