<!DOCTYPE html>
<html>
  <head>
    <title>FEED</title>
    <link rel="stylesheet" href="/add_new.css">
  </head>

  <body>
      <h1>EDIT Existing PRODUCT</h1>
    <form method = "POST" action="/exsists">
        <label>enter product code</label>
        <input type = "text" name="code">
        <input type = "submit" />
    </form>

  </body>
</html>
