
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/add_new.css">
  </head>

  <body>
    <h1>Feed It Forward Inventory Managment System</h1>

    <a class="button" href="/add-new">Add New Item</a>
    <br />
    <a class="button" href="/enter-code">Edit ITEM</a>
    <br />
    <% if (is_admin === true) { %>

    <a class="button" href="/jagger">View Inventory System</a>
    <% } %>

    <br />

    <!--     
    <h1>EDIT Existing PRODUCT</h1>
    <form method = "POST" action="/exsists">
        <label>enter product code</label>
        <input type = "text" name="code">
        <input type = "submit" />
    </form> -->
  </body>
</html>
